# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Archivos del sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/
.gitignore
*.sh
*.exe
*.bat
*.cmd
*.ps1
*.psm1
*.pem
*.crt
*.key

# Datos temporales de Docker / logs
*.log
